# Python / backend
backend/venv/
backend/server/venv/
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
.env


# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/build/
.env

# VSCode / OS
.vscode/
.DS_Store
