Flask
flask-cors
scikit-learn
textblob
pandas
numpy
pymongo
SQLAlchemy==2.0.25
pydantic==1.10.13
pydantic-settings
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
PyJWT
pymysql
joblib
fastapi==0.110.0
uvicorn[standard]==0.27.1
